{{ define "css" }}
<link href="/css/global.css" rel="stylesheet">
<link href="/css/list.css" rel="stylesheet">
{{ end }}

{{ define "main" }}
<header>
    <h1>{{ .Title }}</h1>
</header>

<section id="preface">
    {{ .Content }}
</section>

<main>
    <ul>
        {{- range.Pages }}
        <li class="item">
            {{- if .Date }}
            <div class="date">
                <time datetime="{{ .Date.Format "2006-01-02 15:04:05" }}">
                    {{ .Date.Format "2006-01-02 15:04:05" }}
                </time>
            </div>
            {{ end -}}

            <div class="title">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </div>
        </li>
        {{- end }}
    </ul>
</main>
{{- end }}
