@media (prefers-color-scheme: light) {
	:root {
		--bg-color: #F8F8FF;
		--fg-color: black;
		--link-color: #0a1172;
		--visited-color: purple;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #181818;
		--fg-color: white;
		--link-color: #63c5da;
		--visited-color: #ff72ff;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--fg-color);
	background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

a {
	text-decoration: none;
	color: var(--link-color);
}

a:visited {
	color: var(--visited-color);
}

footer {
	margin-top: 5rem;
    font-size: 0.85em;
}

#legal {
	text-align: center;
	margin: 1rem 0;
}

pre span {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1em;
}
