@media (prefers-color-scheme: light) {
    :root {
        --quote-border: #5C5C5C;
        --quote-color: #E9E9E9;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --quote-border: #6E665A;
        --quote-color: #282828;
    }
}


h2, h3, h4, h5, h6 {
	margin: 2rem 0 1rem 0;
}

header h1 {
	margin: 1rem 0 2rem 0;
	text-align: center;
	text-decoration: underline;
}

article blockquote {
	background: var(--quote-color);
	border-left: 7px solid var(--quote-border);
	margin: 1rem 0;
	padding-left: 1rem;
}

blockquote p {
	display: inline;
}

article {
	width: 60%;
	margin: 1rem auto;
}

article p {
	margin: 1rem 0;
}

article img {
	display: block;
	width: 100%;
	margin: 1rem auto;
}

article pre {
	overflow-x: auto;
    padding: 1rem;
    border: 0px;
    border-radius: 5px;
    margin: 1rem 0;
}

article li {
    padding: .3rem 0;
}

article a {
	word-wrap: break-word;
}

.taglist {
    text-align: center;
    margin: 2rem 0;
}

.tag {
    margin-right: 1rem;
}

@media screen and (max-width: 1000px) {
	article {
		width: 90%;
	}
}
